<!DOCTYPE html>
<html>
  <head>
    <title>Ipuapi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'style' %>
    <%= stylesheet_link_tag    'prettyPhoto' %>
    <%= stylesheet_link_tag    'font-awesome.min' %>
    <%= stylesheet_link_tag    'bootstrap.min' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
